.body1{
    background-color: #fcd6fc;
}
.register1{
    width: 300px;
    height: 360px;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #ffffff;
}
.register1:hover{
    border: 2px solid black;
}
h2{
    color: #868787;
    font-family: sans-serif;
}
.register1 input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid grey;
    padding-left: 8px;
}
.register1 input:hover{
    border: 2px solid black;
}
.btnlogin{
    width: 105px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #51d358;
    color: white;
}
.btnlogin:hover{
    background-color: #62ff6a;
}
.btnregis{
    width: 105px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4dcfcf;
    color: white;
}
.btnregis:hover{
    background-color: #62fff7;
}
.btnregis a{
    text-decoration: none;
    color: white;
}
.btnlogin a{
    text-decoration: none;
    color: white;
}